header
  div
    h1 SecondOpinion
    
    form(action='/login', method='post')
      input(type="text", placeholder="Username", name="username") 
      input(type='password', placeholder="Password", name='password')
      button(value='Login') Login
