header
  div.navbar
    a.navbar-brand SecondOpinion
    
    form.navbar-form.form-inline.pull-right(action='/login', method='post')
      input(type="text", placeholder="Username", name="username") 
      input(type='password', placeholder="Password", name='password')
      button(value='Login') Login
