extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/saveForm', method='post')
    label
      | Name:
      input(name='NameInput')

    label
      | Resons for visit:
      input(name='Reason')

    input(type='submit', value='Submit')