extends layout

block content
  include partials/header
  
  h2#welcome_message Welcome to #{title}
  div#landing_screen
    h3 Tell us why you're here today
    
    ul#diseases
      li 
        a(href='brain_tumor') Brain Tumor
      li 
        a(href='brain_tumor') Headache
      li
        a(href='brain_tumor') Hydrocephalus and CSF Disorders
      li
        a(href='brain_tumor') Neuroimmunology & Neurological Infections
      li
        a(href='brain_tumor') Neuromuscular Pathology
      li
        a(href='brain_tumor') Pediatric Neurology
      li
        a(href='brain_tumor') Spine Neurosurgery
