extends layout

block content
  include partials/header
  div.container#landing_screen
    h2#welcome_message Welcome to #{title}
    h3 Tell us why you're here today
    
    ul.list-group#diseases
      li.list-group-item
        a(href='brain_tumor') Brain Tumor
      li.list-group-item
        a(href='spine_health') Spine Health