extends layout

block content
  include partials/header
  
  
  div.container#form_content

    h2#welcome_message #{form} SecondOpinion

    form#opinion_form(action='/saveForm', method='post')
      fieldset
      
        include partials/patient_info
          
        div.form-group
          p 
            b
              | BY ENGAGING OUR SERVICES, YOU ACKNOWLEDGE AND AGREE TO ASSUME THE RISK OF THESE LIMITATIONS. 
              | YOU FURTHER UNDERSTAND THAT NO WARRANTY OR GUARANTEE HAS BEEN MADE TO YOU CONCERNING ANY 
              | PARTICULAR RESULT OR CURE OF YOUR CONDITION.

        div.form-group
          label Signature:
          input.form-control(name='disclaimer_signature')
        
        div.row
          div.form-group.col-lg-4
            label Date:
            input.form-control(name='disclaimer_date', type='date')
          
        div.form-group
          label What is your diagnoses/disease/disorder in question:
          textarea.form-control(name='diagnoses')
        
        div.form-group  
          label What explicit questions do you want answered within the remote second opinion?:
          textarea.form-control(name='questions')
        
        div.form-group
          label What do you hope to gain by engaging the services of a remote second opinion? :
          textarea.form-control(name='reason')
        
        button.btn.btn-default(type='submit') Submit
